os: Visual Studio 2015

platform: x64

install:
    - '"C:\Program Files\Microsoft SDKs\Windows\v7.1\Bin\SetEnv.cmd" /x64'
    - appveyor-retry choco install strawberryperl --allow-empty-checksums
    - SET PATH=C:\strawberry\c\bin;C:\strawberry\perl\site\bin;C:\strawberry\perl\bin;%PATH%
    - appveyor-retry git clone https://github.com/rakudo/rakudo.git %APPVEYOR_BUILD_FOLDER%\..\rakudo
    - cd %APPVEYOR_BUILD_FOLDER%\..\rakudo
    - perl Configure.pl --gen-moar --gen-nqp
    - nmake install
    - SET PATH=%APPVEYOR_BUILD_FOLDER%\..\rakudo\install\bin;%PATH%
    - SET PATH=%APPVEYOR_BUILD_FOLDER%\..\rakudo\install\share\perl6\site\bin;%PATH%
    - SET ZEF_PLUGIN_DEBUG=1
    - cd %APPVEYOR_BUILD_FOLDER%

build: off

test_script:
    # run xtests
    - perl6 -Ilib xt/repository.t
    - perl6 -Ilib xt/install.t

    # run relative local path test + install
    - perl6 -Ilib bin/zef --debug install .

    # test uninstall
    - perl6 -Ilib bin/zef uninstall zef

    # run absolute local path test + install
    - perl6 -Ilib bin/zef install %APPVEYOR_BUILD_FOLDER%

    # change path to make sure next `zef` commands aren't using any files in cwd or lib/
    - cd %APPVEYOR_BUILD_FOLDER%\..

    # test bells and whistles
    - zef --debug test ./zef
    - zef --debug update
    - zef --debug search Base64
    - zef --debug info Base64
    - zef --debug rdepends Base64
    - zef --debug fetch Base64
    - zef --debug install Base64
    - zef --debug --max=10 list
    - zef --debug --installed list

    - zef --debug install http://hack.p6c.org:5001/authors/id/P/PS/PSIXDISTS/Perl6/CSV-Parser-0.000.002_1601022004.tar.gz
    - zef --debug upgrade CSV::Parser

    - zef --/confirm nuke TempDir StoreDir RootDir
    - zef update cached # test single repository update; should be 0 after previous nuke
    - zef --/confirm nuke site home # no more `zef` command

shallow_clone: true
