os: Visual Studio 2022

platform: x64

install:
    # Enable x64 Native Tools
    - '"C:\Program Files\Microsoft Visual Studio\2022\Community\VC\Auxiliary\Build\vcvarsall.bat" x86_amd64'

    # Workaround for path length errors during precompilation of longer repo names
    - SET ZEF_CONFIG_TEMPDIR=C:\tmp
    - cd C:\
    - md tmp

    # Install Perl
    - appveyor-retry choco install strawberryperl --allow-empty-checksums
    - SET PATH=C:\strawberry\c\bin;C:\strawberry\perl\site\bin;C:\strawberry\perl\bin;%PATH%
    - appveyor-retry git clone https://github.com/rakudo/rakudo.git %APPVEYOR_BUILD_FOLDER%\..\rakudo

    # Install Rakudo
    - cd %APPVEYOR_BUILD_FOLDER%\..\rakudo
    - perl Configure.pl --gen-moar --gen-nqp --backends=moar
    - nmake install
    - SET PATH=%APPVEYOR_BUILD_FOLDER%\..\rakudo\install\bin;%PATH%
    - SET PATH=%APPVEYOR_BUILD_FOLDER%\..\rakudo\install\share\perl6\site\bin;%PATH%
    - cd %APPVEYOR_BUILD_FOLDER%

build: off

test_script:
    - raku -I. bin/zef --version

    # run xtests
    - raku -I. xt/repository.rakutest
    - raku -I. xt/install.rakutest

    # test explicitly via `prove t/*` and `raku t/foo.rakutest && raku t/bar.rakutest`
    # both should work, since all our CI envs have prove
    - raku -I. bin/zef --debug --/tap-harness --/prove --raku-test  test .
    - raku -I. bin/zef --debug --/tap-harness --prove  --/raku-test test .

    # run relative local path test + install
    - raku -I. bin/zef --debug install .

    # test uninstall
    - raku -I. bin/zef uninstall zef

    # run absolute local path test + install
    - raku -I. bin/zef install %APPVEYOR_BUILD_FOLDER%

    # change path to make sure next `zef` commands aren't using any files in cwd or lib/
    - cd %APPVEYOR_BUILD_FOLDER%\..
    - zef update --debug

    # test informational commands
    - zef --version
    - zef --help
    - zef locate Zef::CLI
    - zef locate lib/Zef/CLI.rakumod
    - zef browse zef bugtracker --/open
    - zef info zef

    # test bells and whistles
    - zef --debug test ./zef
    - zef --debug search Base64
    - zef --debug rdepends Base64
    - zef --debug depends Cro::SSL
    - zef --debug fetch Base64
    # test installing from what `fetch` put in ::LocalCache
    - zef --debug --/fez --/cpan --/p6c --/rea install Base64

    - zef --debug --max=10 list
    - zef --debug --installed list
    - zef --debug --force-install install Base64

    # test tar + upgrade
    - zef --debug install https://github.com/ugexe/Raku-PathTools/archive/0434191c56e0f3254ab1d756d90f9191577de5a0.tar.gz
    - zef --debug upgrade PathTools

    # test zip
    - zef --debug install https://github.com/ugexe/Raku-Text--Table--Simple/archive/v0.0.3.zip

    # test remote git repo + tag
    - zef --debug install https://github.com/ugexe/Raku-Text--Table--Simple.git@v0.0.4

    # Test self contained installation
    - zef install Distribution::Common --/test
    - zef install Distribution::Common::Remote -to=inst#foo --contained --/test
    - zef uninstall Distribution::Common
    - raku -I inst#foo -M Distribution::Common::Remote::Github -e ""

    - zef --/confirm nuke TempDir StoreDir
    - zef update cached --debug # test single repository update; should be 0 after previous nuke
    - raku -I %APPVEYOR_BUILD_FOLDER% %APPVEYOR_BUILD_FOLDER%/bin/zef --/confirm nuke site home

shallow_clone: true
