language: perl

os:
    - linux
    - osx

env:
    - BACKEND=moar
    - BACKEND=jvm

matrix:
    allow_failures:
        - env: BACKEND=jvm
    fast_finish: true

sudo: false

before_install:
    - 'if [[ $BACKEND == "moar" ]]; then export VM_OPTS="--gen-moar"; fi'
    - git clone https://github.com/rakudo/rakudo.git $HOME/rakudo
    - cd $HOME/rakudo
    - perl Configure.pl $VM_OPTS --gen-nqp --backends=$BACKEND
    - make install
    - export PATH=$HOME/rakudo/install/bin:$PATH
    - export ZEF_PLUGIN_DEBUG=1
    - export ZEF_BUILDPM_DEBUG=1
    - export PATH=$HOME/rakudo/install/share/perl6/site/bin:$PATH
    - cd $TRAVIS_BUILD_DIR

install:
    # need at least 1 statement in 'install'
    - perl6 -v

script:
    # run xtests
    - perl6 -Ilib xt/repository.t
    - perl6 -Ilib xt/install.t

    # run relative local path test + install
    - perl6 -Ilib bin/zef --debug install .

    # test uninstall
    - perl6 -Ilib bin/zef uninstall zef

    # run absolute local path test + install
    - perl6 -Ilib bin/zef install $TRAVIS_BUILD_DIR

    # change path to make sure next `zef` commands aren't using any files in cwd or lib/
    - cd $TRAVIS_BUILD_DIR/..

    # test bells and whistles
    - zef --debug test ./zef
    - zef --debug update
    - zef --debug search Base64
    - zef --debug info Base64
    - zef --debug rdepends Base64
    - zef --debug fetch Base64
    - zef --debug --force install Base64
    - zef --debug --max=10 list
    - zef --debug --installed list

    - zef --debug install http://hack.p6c.org:5001/authors/id/P/PS/PSIXDISTS/Perl6/CSV-Parser-0.000.002_1601022004.tar.gz
    - zef --debug upgrade CSV::Parser

    - zef --/confirm nuke TempDir StoreDir RootDir
    - zef update cached # test single repository update; should be 0 after previous nuke
    - zef --/confirm nuke site home # no more `zef` command
