language: perl

os:
    - linux
    - osx

env:
    - BACKEND=moar
#    - BACKEND=jvm

matrix:
    allow_failures:
        - env: BACKEND=jvm
    fast_finish: true

sudo: false

before_install:
    - git clone https://github.com/rakudo/rakudo.git $HOME/rakudo
    - cd $HOME/rakudo
    - 'if [[ $BACKEND == "moar" ]];         then export OPTS="--gen-moar --gen-nqp --backends=moar"; fi'
    - 'if [[ $BACKEND == "jvm" ]];          then export OPTS="--gen-nqp --backends=jvm"; fi'
    - perl Configure.pl $OPTS
    - make install
    - export PATH=$HOME/rakudo/install/bin:$PATH
    - export ZEF_BUILDPM_DEBUG=1
    - export PATH=$HOME/rakudo/install/share/perl6/site/bin:$PATH
    - cd $TRAVIS_BUILD_DIR

install:
    # need at least 1 statement in 'install'
    - raku -v

script:
    - raku -I. bin/zef --version

    # run xtests
    - raku -I. xt/repository.rakutest
    - raku -I. xt/install.rakutest

    # test explicitly via `prove t/*` and `raku t/foo.rakutest && raku t/bar.rakutest`
    # both should work, since all our CI envs have prove
    - raku -I. bin/zef --debug --/tap-harness --/prove --raku-test  test .
    - raku -I. bin/zef --debug --/tap-harness --prove  --/raku-test test .

    # run relative local path test + install
    - raku -I. bin/zef --debug install .

    # test uninstall
    - raku -I. bin/zef uninstall zef

    # run absolute local path test + install
    - raku -I. bin/zef install $TRAVIS_BUILD_DIR

    # change path to make sure next `zef` commands aren't using any files in cwd or lib/
    - cd $TRAVIS_BUILD_DIR/..
    - zef update --debug

    # test informational commands
    - zef --version
    - zef --help
    - zef locate Zef::CLI
    - zef locate lib/Zef/CLI.rakumod
    - zef browse zef bugtracker --/open
    - zef info zef

    # test bells and whistles
    - zef --debug test ./zef
    - zef --debug search Base64
    - zef --debug rdepends Base64
    - zef --debug depends Cro::SSL
    - zef --debug fetch Base64
    # test installing from what `fetch` put in ::LocalCache
    - zef --debug --/fez --/cpan --/p6c --/rea install Base64

    - zef --debug --max=10 list
    - zef --debug --installed list
    - zef --debug --force-install install Base64

    # test tar + upgrade
    - zef --debug install https://github.com/ugexe/Perl6-PathTools/archive/0434191c56e0f3254ab1d756d90f9191577de5a0.tar.gz
    - zef --debug upgrade PathTools

    # test zip
    - zef --debug install https://github.com/ugexe/Perl6-Text--Table--Simple/archive/v0.0.3.zip

    # test remote git repo + tag
    - zef --debug install https://github.com/ugexe/Perl6-Text--Table--Simple.git@v0.0.4

    # Test self contained installation
    - zef install Distribution::Common --/test
    - zef install Distribution::Common::Remote -to=inst#foo --contained --/test
    - zef uninstall Distribution::Common
    - raku -I inst#foo -M Distribution::Common::Remote::Github -e ''

    - zef --/confirm nuke TempDir StoreDir
    - zef update cached --debug # test single repository update; should be 0 after previous nuke
    - raku -I $TRAVIS_BUILD_DIR $TRAVIS_BUILD_DIR/bin/zef --/confirm nuke site home
